@page "/Product/Delete/{id:int}"
@using OnlineShop.Services.Contracts

@inject IProductService _prodService;

<h3>Edit Product</h3>

@if(id != 0)
{
    @id
}
else
{
    <p>Loading ...  Please Wait</p>
}

@code {
    [Parameter]
    public int id { get; set; }

    protected override void OnInitialized()
    {
        if(id != 0)
        {

        }
        base.OnInitialized();
    }

    private void GetProduct()
    {
        
    }
}