@page "/customers"
@using OnlineShop.Pages.Customer_Pages
@using OnlineShop.Pages.Address_Pages
@using Syncfusion.Blazor.Navigations

<div class="container-fluid">
    <SfTab Width="100%" Height="auto">
        <TabItems>
            <TabItem>
                <ChildContent>
                    
                    <TabHeader Text="Customers List"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Customer_List />
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>

                    <TabHeader Text="Addresses"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Address_List />

                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>


@code {

}
